/* ✧ Import ✧ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  src: url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
  font-family: 'Montserrat', sans-serif;
}

/* ✧ Bases ✧ */

html {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #212224;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0px;
  min-height: 100vh;
  height: 100%;
  perspective: 500px;
  background: url('img/wefixlarge.png') center center / cover no-repeat fixed;
}

.logo {
  height: 64px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.center {
  padding: 16px;
  padding-top: 0px;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.header {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.divide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

form {
  max-width: 32rem;
}

/* ✧ Typographies ✧ */

label {
  font-size: 1rem;
  color: #ffffff;
  animation: popup 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

h1 {
  font-size: 22px;
  color: #ffffff;
}

p {
  font-size: 15px;
  color: #b9b9b9;
  line-height: 1.6;
  font-weight: 300;
  margin: 0;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-decoration: none;
}

/* ✧ Inputs & Boutons ✧ */

input[type='text'],
input[type='number'],
select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  background: rgb(65, 65, 65);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  animation: popup 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

select {
  border-right-width: 1rem;
  border-color: #00000000;
}

button {
  color: rgb(255, 255, 255);
  padding: 14px 8px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.cancel-btn {
  width: auto;
  padding: 10px 18px;
  border-radius: 8px;
  background: #fd5d52;
  transition-property: background-color;
  transition-duration: 2s;
  cursor: pointer;
}

.cancel-btn:hover {
  transition-property: background-color;
  transition-duration: 2s;
  background: #ff1100;
}

input {
  all: unset;
  animation: popup 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.neutral-btn {
  color: #ffffff;
  width: auto;
  margin-top: 1rem;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  background: #ed6c05;
  transition-property: background-color, background, box-shadow;
  transition-duration: 2s;
  animation: popup 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.neutral-btn:hover {
  transition-property: background-color, background, box-shadow;
  box-shadow: #ed6c05 0px 0px 10px;
  transition-duration: 2s;
  background: #fa8f15;
}

.saved {
  background: rgba(54, 54, 54, 0.336);
  color: #ffffff;
  border-radius: 16px;
  margin: 1rem;
  text-align: center;
  padding: 15px;
  width: 10rem;
  backdrop-filter: blur(10px);
  animation: popup 0.9s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.saved::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(25px);
  background: var(--card-color);
  z-index: -2;
  opacity: 0%;
  transition: opacity s ease-in-out;
  background-size: 400%;
}
.saved:hover::before {
  animation: gradient 5s linear infinite;
  opacity: 15%;
  transition: opacity 1s ease-in-out;
}

.preview{
  height: 5rem;
  transition: transform 0.2s ease-out;
}

/* ✧ Extras ✧ */

@keyframes popup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* ✧ Jessy Robin & Marc Virgili ✧ */
